

/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.red-pink {
  color: red_pink;
}
.grey-light {
  color: grey_light;
}
.purple {
  color: purple;
}
.large {
  font-size: 120%;
}
.small {
  font-size: 90%;
}
.tiny {
  font-size: 70%;
}
.tiny2 {
  font-size: 50%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.red-pink {
  color: red_pink;
}
.grey-light {
  color: grey_light;
}
.purple {
  color: purple;
}
.large {
  font-size: 120%;
}
.small {
  font-size: 90%;
}
.tiny {
  font-size: 70%;
}
.tiny2 {
  font-size: 50%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.red-pink {
  color: red_pink;
}
.grey-light {
  color: grey_light;
}
.purple {
  color: purple;
}
.large {
  font-size: 120%;
}
.small {
  font-size: 90%;
}
.tiny {
  font-size: 70%;
}
.tiny2 {
  font-size: 50%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.red-pink {
  color: red_pink;
}
.grey-light {
  color: grey_light;
}
.purple {
  color: purple;
}
.small {
  font-size: 90%;
}
.large {
  font-size: 120%;
}
.tiny {
  font-size: 70%;
}
.tiny2 {
  font-size: 50%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.red-pink {
  color: red_pink;
}
.grey-light {
  color: grey_light;
}
.purple {
  color: purple;
}
.small {
  font-size: 90%;
}
.large {
  font-size: 120%;
}
.tiny {
  font-size: 70%;
}
.tiny2 {
  font-size: 50%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.red-pink {
  color: red_pink;
}
.gray {
  color: grey_light;
}
.purple {
  color: purple;
}
.small {
  font-size: 90%;
}
.large {
  font-size: 120%;
}
.tiny {
  font-size: 70%;
}
.tiny2 {
  font-size: 50%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.red-pink {
  color: red_pink;
}
.gray {
  color: grey_light;
}
.purple {
  color: purple;
}
.small {
  font-size: 90%;
}
.large {
  font-size: 120%;
}
.tiny {
  font-size: 70%;
}
.tiny2 {
  font-size: 50%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.red-pink {
  color: red_pink;
}
.gray {
  color: grey_light;
}
.purple {
  color: purple;
}
.small {
  font-size: 90%;
}
.large {
  font-size: 120%;
}
.tiny {
  font-size: 70%;
}
.tiny2 {
  font-size: 50%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.red-pink {
  color: red_pink;
}
.gray {
  color: #B3B3B3;
}
.purple {
  color: purple;
}
.small {
  font-size: 90%;
}
.large {
  font-size: 120%;
}
.tiny {
  font-size: 70%;
}
.tiny2 {
  font-size: 50%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.red-pink {
  color: red_pink;
}
.gray {
  color: #B3B3B3;
}
.purple {
  color: purple;
}
.small {
  font-size: 90%;
}
.large {
  font-size: 120%;
}
.tiny {
  font-size: 70%;
}
.tiny2 {
  font-size: 50%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.red-pink {
  color: red_pink;
}
.gray {
  color: #B3B3B3;
}
.purple {
  color: purple;
}
.small {
  font-size: 90%;
}
.large {
  font-size: 120%;
}
.tiny {
  font-size: 70%;
}
.tiny2 {
  font-size: 50%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.red-pink {
  color: red_pink;
}
.gray {
  color: #B3B3B3;
}
.purple {
  color: purple;
}
.small {
  font-size: 90%;
}
.large {
  font-size: 120%;
}
.tiny {
  font-size: 70%;
}
.tiny2 {
  font-size: 50%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.red-pink {
  color: red_pink;
}
.gray {
  color: #B3B3B3;
}
.purple {
  color: purple;
}
.small {
  font-size: 90%;
}
.large {
  font-size: 120%;
}
.tiny {
  font-size: 70%;
}
.tiny2 {
  font-size: 50%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.red-pink {
  color: red_pink;
}
.gray {
  color: #B3B3B3;
}
.purple {
  color: purple;
}
.small {
  font-size: 90%;
}
.large {
  font-size: 120%;
}
.tiny {
  font-size: 70%;
}
.tiny2 {
  font-size: 50%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.red-pink {
  color: red_pink;
}
.gray {
  color: #B3B3B3;
}
.purple {
  color: purple;
}
.small {
  font-size: 90%;
}
.large {
  font-size: 120%;
}
.tiny {
  font-size: 70%;
}
.tiny2 {
  font-size: 50%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.red-pink {
  color: red_pink;
}
.gray {
  color: #B3B3B3;
}
.purple {
  color: purple;
}
.small {
  font-size: 90%;
}
.large {
  font-size: 120%;
}
.tiny {
  font-size: 70%;
}
.tiny2 {
  font-size: 50%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.red-pink {
  color: red_pink;
}
.gray {
  color: #B3B3B3;
}
.purple {
  color: purple;
}
.small {
  font-size: 90%;
}
.large {
  font-size: 120%;
}
.tiny {
  font-size: 70%;
}
.tiny2 {
  font-size: 50%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.red-pink {
  color: red_pink;
}
.gray {
  color: #B3B3B3;
}
.purple {
  color: purple;
}
.small {
  font-size: 90%;
}
.large {
  font-size: 120%;
}
.tiny {
  font-size: 70%;
}
.tiny2 {
  font-size: 50%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.red-pink {
  color: red_pink;
}
.gray {
  color: #B3B3B3;
}
.purple {
  color: purple;
}
.small {
  font-size: 90%;
}
.large {
  font-size: 120%;
}
.tiny {
  font-size: 70%;
}
.tiny2 {
  font-size: 50%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.red-pink {
  color: red_pink;
}
.gray {
  color: #B3B3B3;
}
.purple {
  color: purple;
}
.small {
  font-size: 90%;
}
.large {
  font-size: 120%;
}
.tiny {
  font-size: 70%;
}
.tiny2 {
  font-size: 50%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.red-pink {
  color: red_pink;
}
.gray {
  color: #B3B3B3;
}
.purple {
  color: purple;
}
.small {
  font-size: 90%;
}
.large {
  font-size: 120%;
}
.tiny {
  font-size: 70%;
}
.tiny2 {
  font-size: 50%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.red-pink {
  color: red_pink;
}
.gray {
  color: #B3B3B3;
}
.purple {
  color: purple;
}
.small {
  font-size: 90%;
}
.large {
  font-size: 120%;
}
.tiny {
  font-size: 70%;
}
.tiny2 {
  font-size: 50%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.red-pink {
  color: red_pink;
}
.gray {
  color: #B3B3B3;
}
.purple {
  color: purple;
}
.small {
  font-size: 90%;
}
.large {
  font-size: 120%;
}
.tiny {
  font-size: 70%;
}
.tiny2 {
  font-size: 50%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.red-pink {
  color: red_pink;
}
.gray {
  color: #B3B3B3;
}
.purple {
  color: purple;
}
.small {
  font-size: 90%;
}
.large {
  font-size: 120%;
}
.tiny {
  font-size: 70%;
}
.tiny2 {
  font-size: 50%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.red-pink {
  color: red_pink;
}
.gray {
  color: #B3B3B3;
}
.purple {
  color: purple;
}
.small {
  font-size: 90%;
}
.large {
  font-size: 120%;
}
.tiny {
  font-size: 70%;
}
.tiny2 {
  font-size: 50%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.red-pink {
  color: red_pink;
}
.gray {
  color: #B3B3B3;
}
.purple {
  color: purple;
}
.small {
  font-size: 90%;
}
.large {
  font-size: 120%;
}
.tiny {
  font-size: 70%;
}
.tiny2 {
  font-size: 50%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.red-pink {
  color: red_pink;
}
.gray {
  color: #B3B3B3;
}
.purple {
  color: purple;
}
.small {
  font-size: 90%;
}
.large {
  font-size: 120%;
}
.tiny {
  font-size: 70%;
}
.tiny2 {
  font-size: 50%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.red-pink {
  color: red_pink;
}
.gray {
  color: #B3B3B3;
}
.purple {
  color: purple;
}
.small {
  font-size: 90%;
}
.large {
  font-size: 120%;
}
.tiny {
  font-size: 70%;
}
.tiny2 {
  font-size: 50%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.red-pink {
  color: red_pink;
}
.gray {
  color: #B3B3B3;
}
.purple {
  color: purple;
}
.small {
  font-size: 90%;
}
.large {
  font-size: 120%;
}
.tiny {
  font-size: 70%;
}
.tiny2 {
  font-size: 50%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.red-pink {
  color: red_pink;
}
.grey-light {
  color: grey_light;
}
.purple {
  color: purple;
}
.small {
  font-size: 90%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.red-pink {
  color: red_pink;
}
.gray {
  color: #B3B3B3;
}
.purple {
  color: purple;
}
.small {
  font-size: 90%;
}
.large {
  font-size: 120%;
}
.tiny {
  font-size: 70%;
}
.tiny2 {
  font-size: 50%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.red-pink {
  color: red_pink;
}
.gray {
  color: #B3B3B3;
}
.purple {
  color: purple;
}
.small {
  font-size: 90%;
}
.large {
  font-size: 120%;
}
.tiny {
  font-size: 70%;
}
.tiny2 {
  font-size: 50%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.red-pink {
  color: red_pink;
}
.gray {
  color: #B3B3B3;
}
.purple {
  color: purple;
}
.small {
  font-size: 90%;
}
.large {
  font-size: 120%;
}
.tiny {
  font-size: 70%;
}
.tiny2 {
  font-size: 50%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.red-pink {
  color: red_pink;
}
.gray {
  color: #B3B3B3;
}
.purple {
  color: purple;
}
.small {
  font-size: 90%;
}
.large {
  font-size: 120%;
}
.tiny {
  font-size: 70%;
}
.tiny2 {
  font-size: 50%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.red-pink {
  color: red_pink;
}
.gray {
  color: #B3B3B3;
}
.purple {
  color: purple;
}
.small {
  font-size: 90%;
}
.large {
  font-size: 120%;
}
.tiny {
  font-size: 70%;
}
.tiny2 {
  font-size: 50%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.red-pink {
  color: red_pink;
}
.gray {
  color: #B3B3B3;
}
.purple {
  color: purple;
}
.small {
  font-size: 90%;
}
.large {
  font-size: 120%;
}
.tiny {
  font-size: 70%;
}
.tiny2 {
  font-size: 50%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.red-pink {
  color: red_pink;
}
.gray {
  color: #B3B3B3;
}
.purple {
  color: purple;
}
.small {
  font-size: 90%;
}
.large {
  font-size: 120%;
}
.tiny {
  font-size: 70%;
}
.tiny2 {
  font-size: 50%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.red-pink {
  color: red_pink;
}
.gray {
  color: #B3B3B3;
}
.purple {
  color: purple;
}
.small {
  font-size: 90%;
}
.large {
  font-size: 120%;
}
.tiny {
  font-size: 70%;
}
.tiny2 {
  font-size: 50%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.red-pink {
  color: red_pink;
}
.gray {
  color: #B3B3B3;
}
.purple {
  color: purple;
}
.small {
  font-size: 90%;
}
.large {
  font-size: 120%;
}
.tiny {
  font-size: 70%;
}
.tiny2 {
  font-size: 50%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.red-pink {
  color: red_pink;
}
.gray {
  color: #B3B3B3;
}
.purple {
  color: purple;
}
.small {
  font-size: 90%;
}
.large {
  font-size: 120%;
}
.tiny {
  font-size: 70%;
}
.tiny2 {
  font-size: 50%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.red-pink {
  color: red_pink;
}
.gray {
  color: #B3B3B3;
}
.purple {
  color: purple;
}
.small {
  font-size: 90%;
}
.large {
  font-size: 120%;
}
.tiny {
  font-size: 70%;
}
.tiny2 {
  font-size: 50%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.red-pink {
  color: red_pink;
}
.gray {
  color: #B3B3B3;
}
.purple {
  color: purple;
}
.small {
  font-size: 90%;
}
.large {
  font-size: 120%;
}
.tiny {
  font-size: 70%;
}
.tiny2 {
  font-size: 50%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.red-pink {
  color: red_pink;
}
.gray {
  color: #B3B3B3;
}
.purple {
  color: purple;
}
.small {
  font-size: 90%;
}
.large {
  font-size: 120%;
}
.tiny {
  font-size: 70%;
}
.tiny2 {
  font-size: 50%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.red-pink {
  color: red_pink;
}
.gray {
  color: #B3B3B3;
}
.purple {
  color: purple;
}
.small {
  font-size: 90%;
}
.large {
  font-size: 120%;
}
.tiny {
  font-size: 70%;
}
.tiny2 {
  font-size: 50%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.red-pink {
  color: red_pink;
}
.gray {
  color: #B3B3B3;
}
.purple {
  color: purple;
}
.small {
  font-size: 90%;
}
.large {
  font-size: 120%;
}
.tiny {
  font-size: 70%;
}
.tiny2 {
  font-size: 50%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.red-pink {
  color: red_pink;
}
.gray {
  color: #B3B3B3;
}
.purple {
  color: purple;
}
.small {
  font-size: 90%;
}
.large {
  font-size: 120%;
}
.tiny {
  font-size: 70%;
}
.tiny2 {
  font-size: 50%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.red-pink {
  color: red_pink;
}
.gray {
  color: #B3B3B3;
}
.purple {
  color: purple;
}
.small {
  font-size: 90%;
}
.large {
  font-size: 120%;
}
.tiny {
  font-size: 70%;
}
.tiny2 {
  font-size: 50%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.red-pink {
  color: red_pink;
}
.gray {
  color: #B3B3B3;
}
.purple {
  color: purple;
}
.small {
  font-size: 90%;
}
.large {
  font-size: 120%;
}
.tiny {
  font-size: 70%;
}
.tiny2 {
  font-size: 50%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.red-pink {
  color: red_pink;
}
.gray {
  color: #B3B3B3;
}
.purple {
  color: purple;
}
.small {
  font-size: 90%;
}
.large {
  font-size: 120%;
}
.tiny {
  font-size: 70%;
}
.tiny2 {
  font-size: 50%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.red-pink {
  color: red_pink;
}
.gray {
  color: #B3B3B3;
}
.purple {
  color: purple;
}
.small {
  font-size: 90%;
}
.large {
  font-size: 120%;
}
.tiny {
  font-size: 70%;
}
.tiny2 {
  font-size: 50%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.red-pink {
  color: red_pink;
}
.gray {
  color: #B3B3B3;
}
.purple {
  color: purple;
}
.small {
  font-size: 90%;
}
.large {
  font-size: 120%;
}
.tiny {
  font-size: 70%;
}
.tiny2 {
  font-size: 50%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.red-pink {
  color: red_pink;
}
.gray {
  color: #B3B3B3;
}
.purple {
  color: purple;
}
.small {
  font-size: 90%;
}
.large {
  font-size: 120%;
}
.tiny {
  font-size: 70%;
}
.tiny2 {
  font-size: 50%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.red-pink {
  color: red_pink;
}
.gray {
  color: #B3B3B3;
}
.purple {
  color: purple;
}
.small {
  font-size: 90%;
}
.large {
  font-size: 120%;
}
.tiny {
  font-size: 70%;
}
.tiny2 {
  font-size: 50%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.red-pink {
  color: red_pink;
}
.gray {
  color: #B3B3B3;
}
.purple {
  color: purple;
}
.small {
  font-size: 90%;
}
.large {
  font-size: 120%;
}
.tiny {
  font-size: 70%;
}
.tiny2 {
  font-size: 50%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.red-pink {
  color: red_pink;
}
.gray {
  color: #B3B3B3;
}
.purple {
  color: purple;
}
.small {
  font-size: 90%;
}
.large {
  font-size: 120%;
}
.tiny {
  font-size: 70%;
}
.tiny2 {
  font-size: 50%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.red-pink {
  color: red_pink;
}
.gray {
  color: #B3B3B3;
}
.purple {
  color: purple;
}
.small {
  font-size: 90%;
}
.large {
  font-size: 120%;
}
.tiny {
  font-size: 70%;
}
.tiny2 {
  font-size: 50%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.red-pink {
  color: red_pink;
}
.gray {
  color: #B3B3B3;
}
.purple {
  color: purple;
}
.small {
  font-size: 90%;
}
.large {
  font-size: 120%;
}
.tiny {
  font-size: 70%;
}
.tiny2 {
  font-size: 50%;
}


/* Extra CSS */
.red {
  color: red;
}
.blue {
  color: blue;
}
.red-pink {
  color: red_pink;
}
.gray {
  color: #B3B3B3;
}
.purple {
  color: purple;
}
.small {
  font-size: 90%;
}
.large {
  font-size: 120%;
}
.tiny {
  font-size: 70%;
}
.tiny2 {
  font-size: 50%;
}
